<div class="counter">
  <span data-tooltip="{{ __('Characters', labels) }}" data-tooltip-position="top" class="counterlabel">{{ characters }}</span>
  <span data-tooltip="{{ __('Words', labels) }}" data-tooltip-position="top" class="counterlabel">{{ words }}</span>
  <span data-tooltip="{{ __('Phrases', labels) }}" data-tooltip-position="top" class="counterlabel">{{ phrases }}</span>
  <span data-tooltip="{{ __('Reading Time', labels) }}" data-tooltip-position="top" class="counterlabel">{{ readingTime }}</span>
</div>

